/*@import-normalize;*/


html {
    font-size: 12px;
}


* {
    box-sizing: border-box;
    user-select: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*

@font-face {
    font-family: RFDewi;
    font-weight: 900;
    src: local("RFDewi");
    src: url(./fonts/RFDewi-Ultrabold.d9d76197991698e89d45.ttf)
}*/
